@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../vendor/awcodes/filament-curator/resources/dist/curator.css';

body::-webkit-scrollbar {
  display: none;
}





input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}